.eventsGroup{
    padding: 10px;
    color: black;
}

.eventsGroup li > a, .eventsGroup li > span{
    line-height: 23px;
}

.eventsGroup li > a:first-child, .eventsGroup li > span:first-child{
    margin-left: 0;
}

.eventsGroup .lighter{
    color: gray;
}

.eventsGroup .hourChip{
    width: 46px;
    text-align: center;
    background-color: yellow;
    color: black;
}

.main{
    background: #f5f5f5;
}

.top-info{
    padding: 10px;
    margin-bottom:20px;
    color: black;
}

.top-info .disclaimer{
    opacity: 0.8;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 2px;
    line-height: 20px;
}
.top-info .disclaimer a{
    text-underline: single;
    color: cadetblue;
}


.date{
    color: #343434;
}
