.eventsGroup{
    padding: 10px;
    color: black;
}

.eventsGroup li > a, .eventsGroup li > span{
    display: inline-block;
    margin-left: 13px;
}

.eventsGroup .lighter{
    color: gray;
}

.eventsGroup .hourChip{
    width: 46px;
    text-align: center;
    background-color: yellow;
    color: black;
}
